<div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6">
  
  <div class="bg-white border border-gray-200 rounded-2xl p-6 shadow-sm">
    <h2 class="text-xl font-bold text-gray-800">การจัดการผู้ใช้งาน</h2>
    <p class="text-sm text-gray-500 mb-6">เพิ่ม แก้ไข ลบ และจัดการบัญชีผู้ใช้</p>
    
<div class="space-y-3">
      <a *ngFor="let item of userActions" 
         [routerLink]="[item.link]" 
         [queryParams]="item.params"
         [class]="item.isDelete 
            ? 'bg-red-50     border-red-400 text-red-700 hover:bg-red-100' 
            : 'bg-white border-gray-100 text-gray-700 hover:border-blue-200 hover:bg-blue-50/50'"
         class="w-full flex items-center justify-between p-4 border rounded-xl shadow-sm transition-all group cursor-pointer">
        
        <div class="flex items-center gap-4">
          <div [class]="item.isDelete ? 'bg-red-100' : 'bg-blue-50 text-blue-600'" 
               class="w-10 h-10 rounded-lg flex items-center justify-center">
            <span class="material-symbols-outlined">{{item.icon}}</span>
          </div>
          <span class="font-medium">{{item.label}}</span>
        </div>

        <span class="material-symbols-outlined text-gray-400 group-hover:translate-x-1 transition-transform">
          chevron_right
        </span>
      </a>
    </div>
  </div>

   <div class="bg-white border border-gray-200 rounded-2xl p-6 shadow-sm">
    <h2 class="text-xl font-bold text-gray-800">การจัดการที่ปรึกษา</h2>
    <p class="text-sm text-gray-500 mb-6">กำหนดและเปลี่ยนแปลงที่ปรึกษานักศึกษา</p>
    
    <div class="space-y-3">
      <a *ngFor="let item of advisorActions" 
         [routerLink]="[item.link]" 
         [queryParams]="item.params"
         class="w-full flex items-center justify-between p-4 border border-gray-100 bg-white text-gray-700 rounded-xl shadow-sm hover:border-blue-200 hover:bg-blue-50/50 transition-all group cursor-pointer">
        
        <div class="flex items-center gap-4">
          <div class="w-10 h-10 bg-blue-50 rounded-lg flex items-center justify-center text-blue-600">
            <span class="material-symbols-outlined">{{item.icon}}</span>
          </div>
          <span class="font-medium">{{item.label}}</span>
        </div>
        
        <span class="material-symbols-outlined text-gray-400 group-hover:translate-x-1 transition-transform">
          chevron_right
        </span>
      </a>
    </div>
  </div>

