<div
  class="bg-white h-screen border-l border-gray-200 px-4 py-2 flex flex-col transition-all duration-300 shadow-sm select-none"
  [class.w-64]="isSidebarOpen"
  [class.w-20]="!isSidebarOpen"
>
  <div class="flex items-center mb-4 border-b border-gray-200 py-2 overflow-hidden shrink-0 justify-between">

    @if (isSidebarOpen) {
      <img
        src="/assets/img/logo.png"
        alt="Logo website"
        class="h-12 transition-opacity duration-300"
      />
    }

    <button (click)="toggleSidebar()" class="p-2 hover:bg-primary/10 hover:text-primary rounded-xl transition-colors duration-200 shrink-0">
      <span class="material-symbols-outlined text-[28px]">{{ isSidebarOpen ? 'menu_open' : 'menu' }}</span>
    </button>
  </div>

  <div class="flex-1 overflow-y-auto overflow-x-hidden">

  @if (userRole === 'teacher' || userRole === 'advisor') {
    <nav>
      <ul class="flex flex-col gap-2 text-[16px] font-semibold">
        <li routerLink="/home" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> home </span>
            @if (isSidebarOpen) { <span>หน้าหลัก</span> }
          </a>
        </li>
        <li routerLink="/all-students" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> group </span>
            @if (isSidebarOpen) { <span>นักศึกษาทั้งหมด</span> }
          </a>
        </li>
        <li routerLink="/plo-assessment" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> assignment </span>
            @if (isSidebarOpen) { <span>ประเมิน PLO</span> }
          </a>
        </li>

        <li class="flex flex-col">
          <div (click)="isSidebarOpen ? toggleAppointmentMenu() : toggleSidebar()"
               class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
               [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen" [class.justify-between]="isSidebarOpen">
            <div class="flex items-center font-semibold text-[16px]">
              <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> calendar_month </span>
              @if (isSidebarOpen) { <span>การนัดหมายปรึกษา</span> }
            </div>
            @if (isSidebarOpen) {
              <span class="material-symbols-outlined transition-transform duration-200" [class.rotate-180]="isAppointmentOpen">
                expand_more
              </span>
            }
          </div>

          @if (isSidebarOpen && isAppointmentOpen) {
            <div class="ml-8 mt-1 border-l-2 border-gray-200 flex flex-col gap-1">
              <ul class="flex flex-col gap-1">
                <li routerLink="/appointment/request" routerLinkActive="bg-primary text-white" class="relative py-2 px-4 text-[15px] text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 ml-2">
                  <a class="flex items-center">สร้างการนัดหมาย</a>
                </li>
                <li routerLink="/appointment/history" routerLinkActive="bg-primary text-white" class="relative py-2 px-4 text-[15px] text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 ml-2">
                  <a class="flex items-center">ประวัติการนัดหมาย</a>
                </li>
              </ul>
            </div>
          }
        </li>
      </ul>
    </nav>
  }

  @if (userRole === 'student') {
    <nav>
      <ul class="flex flex-col gap-2 text-[16px] font-semibold">
        <li routerLink="/personal-data" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> home </span>
            @if (isSidebarOpen) { <span>ข้อมูลส่วนตัว</span> }
          </a>
        </li>
        <li routerLink="/study-results" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> group </span>
            @if (isSidebarOpen) { <span>ผลการเรียน</span> }
          </a>
        </li>
        <li routerLink="/plo-evaluation" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> assignment </span>
            @if (isSidebarOpen) { <span>การประเมิน PLO</span> }
          </a>
        </li>
        <li routerLink="/activity" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> event </span>
            @if (isSidebarOpen) { <span>กิจกรรม</span> }
          </a>
        </li>
        <li routerLink="/certification" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> badge </span>
            @if (isSidebarOpen) { <span>Certification</span> }
          </a>
        </li>
        <li routerLink="/advisor-record" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> history </span>
            @if (isSidebarOpen) { <span>บันทึกการปรึกษา</span> }
          </a>
        </li>
        <li routerLink="/advisor-information" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> person_text </span>
            @if (isSidebarOpen) { <span>ข้อมูลที่ปรึกษา</span> }
          </a>
        </li>
        <li routerLink="/history-student-record" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> history_edu </span>
            @if (isSidebarOpen) { <span>ระเบียนประวัติ</span> }
          </a>
        </li>
      </ul>
    </nav>
  }

  @if (userRole === 'admin') {
    <nav>
      <ul class="flex flex-col gap-2 text-[16px] font-semibold">
        <li routerLink="/system-dashboard" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> dashboard </span>
            @if (isSidebarOpen) { <span>ภาพรวมระบบ</span> }
          </a>
        </li>
        <li routerLink="/users" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> group </span>
            @if (isSidebarOpen) { <span>จัดการผู้ใช้งาน</span> }
          </a>
        </li>
        <li routerLink="/students" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> school </span>
            @if (isSidebarOpen) { <span>นักศึกษา</span> }
          </a>
        </li>
        <li routerLink="/assign-advisor" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> person_add </span>
            @if (isSidebarOpen) { <span>กำหนดอาจารย์ที่ปรึกษา</span> }
          </a>
        </li>
        <li routerLink="/plo" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> track_changes </span>
            @if (isSidebarOpen) { <span>จัดการ PLO</span> }
          </a>
        </li>
        <li routerLink="/advisor-history" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> history </span>
            @if (isSidebarOpen) { <span>ประวัติที่ปรึกษา</span> }
          </a>
        </li>
        <li routerLink="/reports" routerLinkActive="bg-primary text-white rounded-lg"
            class="py-3 text-black !rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer transition duration-200 flex items-center"
            [class.px-4]="isSidebarOpen" [class.justify-center]="!isSidebarOpen">
          <a class="flex items-center">
            <span class="material-symbols-outlined icon-filled" [class.pr-2]="isSidebarOpen"> description </span>
            @if (isSidebarOpen) { <span>รายงานระบบ</span> }
          </a>
        </li>



      </ul>
    </nav>
  }
    @if (userRole === 'admin' || userRole === 'teacher') {
      <div class="px-7 my-4">
        <div class="h-px w-full bg-gray-300"></div>
      </div>
    <div (click)="goBack()"
         class="group relative flex items-center mt-5 p-2 bg-[#3D2521] hover:bg-[#4D312C] active:scale-[0.98] rounded-2xl cursor-pointer transition-all duration-200 shadow-md"
         [class.justify-center]="!isSidebarOpen"
         [class.px-4]="isSidebarOpen">

      <div class="flex items-center w-full"
           [class.justify-between]="isSidebarOpen"
           [class.justify-center]="!isSidebarOpen">

        <div class="flex items-center gap-3">
          <!-- Icon หลัก: ใช้ Material Symbols แทน SVG -->
          <div class="flex items-center justify-center p-2 bg-[#F9BD15]/10 group-hover:bg-[#F9BD15]/20 rounded-xl transition-colors shrink-0">
        <span class="material-symbols-outlined text-[#F9BD15] select-none text-[20px] font-bold"
              style="font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 24;">
          group
        </span>
          </div>

          <!-- ข้อความ Label -->
          @if (isSidebarOpen) {
            <div class="flex flex-col animate-in fade-in slide-in-from-left-2 duration-300">
          <span class="text-[10px] text-gray-400 font-semibold whitespace-nowrap uppercase tracking-widest">
            ไปยังระบบอื่น
          </span>
              <span class="text-white font-bold text-sm leading-tight whitespace-nowrap group-hover:text-[#F9BD15] transition-colors">
            SCIENCE MIS
          </span>
            </div>
          }
        </div>

        <!-- Icon External Link: ใช้ Material Symbols แทน SVG -->
        @if (isSidebarOpen) {
          <span class="material-symbols-outlined text-white opacity-30 group-hover:opacity-100 group-hover:translate-x-0.5 group-hover:-translate-y-0.5 transition-all select-none text-[18px]"
                style="font-variation-settings: 'wght' 500;">
        open_in_new
      </span>
        }
      </div>
    </div>
    }
</div>
</div>
