<div
  class="bg-white h-screen w-64 border-r border-gray-200 px-6 py-2 flex flex-col transition duration-300 shadow-sm"
>
  <div class="flex items-center mb-4">
    <img
      src="/assets/img/logo.png"
      alt="Logo website"
      class="h-16"
    />
  </div>

  <nav>
    <ul class="flex flex-col gap-4 text-[16px] font-semibold text-blue-600">
      <li class="hover:translate-x-1 transition-transform">
        <a routerLink="/home" routerLinkActive="active" class="block py-2">หน้าหลัก</a>
      </li>
      <li class="hover:translate-x-1 transition-transform">
        <a routerLink="/all-students" class="block py-2">นักศึกษาทั้งหมด</a>
      </li>
      <li class="hover:translate-x-1 transition-transform">
        <a routerLink="/movies" class="block py-2">ภาพยนตร์</a>
      </li>
      <li class="hover:translate-x-1 transition-transform">
        <a routerLink="/games" class="block py-2">เกม</a>
      </li>
      <li class="hover:translate-x-1 transition-transform">
        <a routerLink="/new-hot" class="block py-2">มาใหม่และกำลังฮิต</a>
      </li>
      <li class="hover:translate-x-1 transition-transform">
        <a routerLink="/my-list" class="block py-2">รายการของฉัน</a>
      </li>
      <li class="hover:translate-x-1 transition-transform">
        <a routerLink="/language" class="block py-2">เลือกดูตามภาษา</a>
      </li>
    </ul>
  </nav>
</div>
