<div
  class="bg-white h-screen w-64 border-r border-gray-200 px-4 py-2 flex flex-col transition duration-300 shadow-sm select-none"
>
  <div class="flex items-center mb-4 border-b border-gray-200 ">
    <img
      src="/assets/img/logo.png"
      alt="Logo website"
      class="h-16"
    />
  </div>
  @if (supabaseService.userProfile()?.role === 'teacher') {
  <nav>
    <ul class="flex flex-col gap-2 text-[16px] font-semibold  " >
      <li routerLink="/home" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> home </span> หน้าหลัก</a>
      </li>
      <li routerLink="/all-students" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> group </span> นักศึกษาทั้งหมด</a>
      </li> <li routerLink="/plo-assessment" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
      <a  class="flex items-center">
        <span class="material-symbols-outlined icon-filled pr-2"> assignment </span> ประเมิน PLO</a>
    </li>
    </ul>
  </nav>/
  }
  @if (supabaseService.userProfile()?.role === 'student') {
    <nav>
      <ul class="flex flex-col gap-2 text-[16px] font-semibold  " >
        <li routerLink="/personal-data" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
          <a  class="flex items-center">
            <span class="material-symbols-outlined icon-filled pr-2"> home </span> ข้อมูลส่วนตัว </a>
        </li>
        <li routerLink="/study-results" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
          <a  class="flex items-center">
            <span class="material-symbols-outlined icon-filled pr-2"> group </span> ผลการเรียน </a>
        </li> <li routerLink="plo-evaluation" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> assignment </span> การประเมิน PLO</a>
      </li>
      <li routerLink="/activity" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> event </span> กิจกรรม</a>
      </li>
      <li routerLink="/certification" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> badge </span>certification</a>
      </li>
      <li routerLink="advisor-record" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> history </span>บันทึกการปรึกษา</a>
      </li>
      <li routerLink="/advisor-information" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> Person_text </span>ข้อมูลที่ปรึกษา</a>
      </li>
      <li routerLink="/history-student-record" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> History_edu </span>ระเบียนประวัติ</a>
      </li>
      
      </ul>
    </nav>
  }
  @if (supabaseService.userProfile()?.role === 'admin') {
    <nav>
      <ul class="flex flex-col gap-2 text-[16px] font-semibold " >
        <li routerLink="/system-dashboard" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
          <a  class="flex items-center">
            <span class="material-symbols-outlined icon-filled pr-2"> dashboard </span> ภาพรวมระบบ</a>
        </li>
        <li routerLink="users" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> group </span>จัดการผู้ใช้งาน</a>
      </li>
      <li routerLink="teachers" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> badge </span>อาจารย์</a>
      </li>
      <li routerLink="students" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> school </span>นักศึกษา</a>
      </li>
      <li routerLink="assign-advisor" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> person_add </span>กำหนดอาจารย์ที่ปรึกษา</a>
      </li>
      <li routerLink="plo" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> track_changes </span>จัดการPLO</a>
      </li>
      <li routerLink="advisor-history" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> history</span>ประวัติที่ปรึกษาของนักศึกษา</a>
      </li>
      <li routerLink="reports" class="py-3 px-4 text-black !rounded-lg hover:bg-primary hover:text-white hover:rounded-lg hover:cursor-pointer transition duration-200 " routerLinkActive="bg-primary text-white rounded-lg " >
        <a  class="flex items-center">
          <span class="material-symbols-outlined icon-filled pr-2"> description </span>รายงานระบบ</a>
      </li>
      </ul>
    </nav>
  }
</div>
